<a href="https://colab.research.google.com/github/akhilsaiakki/machine-learning-projects/blob/main/task_001/task_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [103]:
from pandas import read_csv
data = read_csv("https://raw.githubusercontent.com/AdiPersonalWorks/Random/master/student_scores%20-%20student_scores.csv")
data.head(10)

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20
6    9.2      88
7    5.5      60
8    8.3      81
9    2.7      25

In [104]:
data.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [105]:
from numpy import array
dataset = array(data)

In [106]:
x=dataset[:,0]
y=dataset[:,1]

In [107]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [108]:
x_train,y_train,x_test,y_test = x_train.reshape(x_train.shape[0],1),y_train.reshape(y_train.shape[0],1),x_test.reshape(x_test.shape[0],1),y_test.reshape(y_test.shape[0],1)

In [109]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
model = lr.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [116]:
y_test

array([[69.],
       [47.],
       [75.],
       [30.],
       [81.],
       [35.],
       [41.]])

array([[86.],
       [30.],
       [88.],
       [30.],
       [88.],
       [30.],
       [30.]])

In [121]:
print("for 9.2 hrs study : " + str(model.predict([[9.2]])[0]))

for 9.2 hrs study : 88.0